# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=clpm
DB_USER=postgres
DB_PASSWORD=password

# InfluxDB Configuration
INFLUXDB_URL=http://72.255.34.69:8086/
INFLUXDB_TOKEN=4eYvsu8wZCJ6tKuE2sxvFHkvYFwSMVK0011hEEiojvejzpSaij86vYQomN_12au6eK-2MZ6Knr-Sax201y70w==
INFLUXDB_ORG=some_org
INFLUXDB_BUCKET=some_data
INFLUXDB_MEASUREMENT=control_loops

# KPI Configuration
KPI_WINDOW_MIN=1440
KPI_CRON_SCHEDULE=*/15 * * * *
KPI_MAX_CONCURRENCY=5

# Service Configuration
LOG_LEVEL=info
